.product-card
{
    background-color: white;
    border-radius: 8px;
}


.card-img-top{
    height:50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-text
{
    font-weight: bolder;
}