

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.bg-teal-400 {
    background-color: #26a69a
}

a {
    text-decoration: none !important
}

.fa {
    color: red
}

.product-card{
    background-color: white;
}


/* card footer */
.card-footer{
    background-color: #002060;
    color: white;
    font-weight: bolder;
    border: none;
    
}


/* price */
.inr-price{
    font-size: large;
    font-weight: bolder;
}
