.productimage-slider{
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}

 .carousel {
    position: relative;
  }
  .carousel-item img {
    object-fit: contain;
  }
  #carousel-thumbs {
    /* background: rgba(255,255,255,.3); */
    background-color: transparent;
    bottom: 0;
    left: 0;
    padding: 0 25px;
    right: 0; 
    border-radius:15px;
   
  }
  #carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
    
  }
  #carousel-thumbs img:hover {
    border-color: rgba(255,255,255,.3);
    
  }
  #carousel-thumbs .selected img {
    border-color: #fff;
   
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 40px;
  }
  @media all and (max-width: 767px) {
    .carousel-container #carousel-thumbs img {
      border-width: 3px;
      
    }
    
    
  }
  @media all and (min-width: 576px) {
    .carousel-container #carousel-thumbs {
      position: absolute;
    }
    
     
  }
  @media all and (max-width: 576px) {
    .carousel-container #carousel-thumbs {
      background: #eee;
    }
    
     
  }


.product-title{
  font-size: 14px;
  font-weight: bolder;

}

.product-subtitle{
  font-size: 12px; 
}

.rating-section{
  background-color: white;
}

.staricon{
  font-size:25px;
}

.checked {
  color: orange;
}

.price{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}

.policies{
  padding-top: 15px;
  font-size: small;
}

.product-description-bar {
  background-color: white;
  padding: 25px;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  font-size: small;
}


.addcart-buy-container{
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}

.cart-button{
  background-color: white; 
  /* padding:15px 15px; */
  text-decoration: none;
  color: #002060;
  font-weight: bolder;
} 

.cart-button:hover{
  text-decoration: none;
  color: #002060;
  background-color: #f1f1f1;
}

.buy-button{
  background-color: #002060;
  /* padding:15px 15px; */
  color: white;
  font-weight: bolder;
  text-decoration: none;
}  

.buy-button:hover{
  text-decoration: none;
  background-color: #1044ac;
  color: white;
}